<header>
    <div class='container-header'>
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="collapse navbar-collapse justify-content-center" id="myNavbar">
                <ul class="nav nav-pills navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{path('home')}}#me">Romain CURTET</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('home')}}#about">Coordonnées</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('home')}}#skills">Compétences</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('home')}}#experience">ExpérienceS</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('home')}}#education">Formations</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('home')}}#portfolio">Portfolio</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('home')}}#recommandations">Recommandations</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{path('contact')}}">Contact</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>